{
  "openapi": "3.0.0",
  "info": {
    "title": "RetailIQ API",
    "version": "1.0.0",
    "description": "Planet-scale retail operations intelligence platform API. Comprehensive retail management solution with AI-powered insights, inventory management, customer analytics, and more.",
    "contact": {
      "name": "RetailIQ Support",
      "email": "support@retailiq.com"
    },
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.retailiq.com",
      "description": "Production server"
    },
    {
      "url": "https://staging-api.retailiq.com",
      "description": "Staging server"
    },
    {
      "url": "http://localhost:5000",
      "description": "Development server"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "Health check endpoint",
        "description": "ALB / container orchestrator health probe",
        "tags": ["Health"],
        "responses": {
          "200": {
            "description": "Service healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {"type": "string"},
                    "db": {"type": "string"},
                    "redis": {"type": "string"}
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service unhealthy"
          }
        }
      }
    },
    "/api/v1/health": {
      "get": {
        "summary": "API health check",
        "description": "API-namespaced health endpoint",
        "tags": ["Health"],
        "responses": {
          "200": {
            "description": "Service healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {"type": "string"},
                    "db": {"type": "string"},
                    "redis": {"type": "string"}
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service unhealthy"
          }
        }
      }
    },
    "/oauth/token": {
      "post": {
        "summary": "OAuth2 token endpoint",
        "description": "Get OAuth2 access token",
        "tags": ["OAuth"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "grant_type": {"type": "string", "enum": ["client_credentials"]},
                  "client_id": {"type": "string"},
                  "client_secret": {"type": "string"},
                  "scope": {"type": "string"}
                },
                "required": ["grant_type", "client_id", "client_secret"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {"type": "string"},
                    "token_type": {"type": "string"},
                    "expires_in": {"type": "integer"},
                    "scope": {"type": "string"}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Invalid credentials"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "StandardResponse": {
        "type": "object",
        "properties": {
          "success": {"type": "boolean", "description": "Whether the request was successful"},
          "message": {"type": "string", "description": "Human-readable message"},
          "data": {"type": "object", "nullable": true, "description": "Response data"},
          "error": {"type": "object", "nullable": true, "description": "Error details"},
          "meta": {"type": "object", "nullable": true, "description": "Metadata (pagination, etc.)"},
          "timestamp": {"type": "string", "format": "date-time", "description": "Response timestamp"}
        },
        "required": ["success", "timestamp"]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {"type": "boolean", "example": false},
          "message": {"type": "string", "description": "Error message"},
          "error": {
            "type": "object",
            "properties": {
              "code": {"type": "string", "description": "Error code"},
              "details": {"type": "array", "items": {"type": "string"}, "description": "Error details"}
            }
          },
          "timestamp": {"type": "string", "format": "date-time"}
        },
        "required": ["success", "message", "timestamp"]
      },
      "UUID": {
        "type": "string",
        "format": "uuid",
        "description": "UUID identifier"
      },
      "Timestamp": {
        "type": "string",
        "format": "date-time",
        "description": "ISO 8601 timestamp"
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "page": {"type": "integer", "description": "Page number"},
          "per_page": {"type": "integer", "description": "Items per page"},
          "total": {"type": "integer", "description": "Total items"},
          "pages": {"type": "integer", "description": "Total pages"}
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT authentication token"
      },
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "/oauth/token",
            "scopes": {
              "read:inventory": "Read inventory data",
              "write:inventory": "Write inventory data",
              "read:sales": "Read sales data",
              "write:sales": "Write sales data",
              "read:customers": "Read customer data",
              "write:customers": "Write customer data",
              "read:analytics": "Read analytics data",
              "admin": "Full administrative access"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "AI V2",
      "description": "AI V2 operations"
    },
    {
      "name": "Auth",
      "description": "Auth operations"
    },
    {
      "name": "I18n",
      "description": "I18n operations"
    },
    {
      "name": "Tax Engine",
      "description": "Tax Engine operations"
    },
    {
      "name": "Payments",
      "description": "Payments operations"
    },
    {
      "name": "Kyc",
      "description": "Kyc operations"
    },
    {
      "name": "Einvoicing",
      "description": "Einvoicing operations"
    },
    {
      "name": "Team",
      "description": "Team operations"
    },
    {
      "name": "Store",
      "description": "Store operations"
    },
    {
      "name": "Transactions",
      "description": "Transactions operations"
    },
    {
      "name": "Inventory",
      "description": "Inventory operations"
    },
    {
      "name": "Customers",
      "description": "Customers operations"
    },
    {
      "name": "Analytics",
      "description": "Analytics operations"
    },
    {
      "name": "Forecasting",
      "description": "Forecasting operations"
    },
    {
      "name": "Decisions",
      "description": "Decisions operations"
    },
    {
      "name": "Nlp",
      "description": "Nlp operations"
    },
    {
      "name": "Models",
      "description": "Models operations"
    },
    {
      "name": "Receipts",
      "description": "Receipts operations"
    },
    {
      "name": "Suppliers",
      "description": "Suppliers operations"
    },
    {
      "name": "Staff Performance",
      "description": "Staff Performance operations"
    },
    {
      "name": "Offline",
      "description": "Offline operations"
    },
    {
      "name": "Loyalty",
      "description": "Loyalty operations"
    },
    {
      "name": "Gst",
      "description": "Gst operations"
    },
    {
      "name": "Whatsapp",
      "description": "Whatsapp operations"
    },
    {
      "name": "Chain",
      "description": "Chain operations"
    },
    {
      "name": "Pricing",
      "description": "Pricing operations"
    },
    {
      "name": "Events",
      "description": "Events operations"
    },
    {
      "name": "Vision",
      "description": "Vision operations"
    },
    {
      "name": "Market Intelligence",
      "description": "Market Intelligence operations"
    },
    {
      "name": "Developer",
      "description": "Developer operations"
    },
    {
      "name": "OAuth",
      "description": "OAuth operations"
    },
    {
      "name": "API V2",
      "description": "API V2 operations"
    },
    {
      "name": "Finance",
      "description": "Finance operations"
    },
    {
      "name": "Marketplace",
      "description": "Marketplace operations"
    },
    {
      "name": "Health",
      "description": "Health check endpoints"
    }
  ]
}
